<!DOCTYPE html>
<html lang="en">
  <head>
  	<!-- Meta-->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
      <meta name="description" content="Represent.xyz Terms of Use">
      <meta name="keywords" content="vote, election, group, sphere, nominate, decide">
      <meta name="author" content="William Buckley Mower">
      <!-- Desktop Browsers -->
      <link rel="shortcut icon" type="image/x-icon" href="assets/icons/favicon.ico" />
      
      <!-- Android: Chrome M39 and up-->
      <link rel="manifest" href="assets/icons/manifest.json">
      <!-- Android: Chrome M31 and up, ignored if manifest is present-->
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="icon" sizes="192x192" href="assets/icons/icon-192x192.png">
      <!-- iOS -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-title" content="Represent.xyz">
      
      <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon-180x180-precomposed.png">
      <link href="assets/icons/apple-touch-icon-152x152-precomposed.png" sizes="152x152" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-144x144-precomposed.png" sizes="144x144" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-120x120-precomposed.png" sizes="120x120" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-76x76-precomposed.png" sizes="76x76" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-60x60-precomposed.png" sizes="60x60" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-57x57-precomposed.png" sizes="57x57" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-precomposed.png" rel="apple-touch-icon">
      
      <!-- Windows 8 and IE 11 -->
      <meta name="msapplication-config" content="assets/icons/browserconfig.xml" />
      
      <!-- Windows -->
      <meta name="application-name" content="Represent.xyz" />
      <meta name="msapplication-tooltip" content="Let's Make Decisions Together!" />
      <meta name="msapplication-window" content="width=1024;height=768" />
      <meta name="msapplication-navbutton-color" content="#007EFF" />
      <meta name="msapplication-starturl" content="./" />
   <!-- Title -->
      <title>Represent.xyz | Let's Make Decisions Together</title>
   <!-- CSS -->
      <link rel="stylesheet" href="admin/app/css/bootstrap.css">
  </head>
<body>
	<header id="navigation" style="margin-bottom: 0; border-bottom: solid 10px #333;"><!-- Start navigation -->
		<div class="navbar navbar-default" role="navigation">
			<div class="container" style="margin-bottom: 0;">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Represent.xyz</a>
				</div>
			</div>
		</div>
	</header><!-- End navigation -->
<div class="container" style="margin-top: 50px; background-color: #fff;">
<h1>Represent.xyz Terms of Use</h1>
<h2>Last Updated: June 4, 2015</h2>
<h2>PLEASE READ THIS DOCUMENT CAREFULLY</h2>
<p style="text-align:justify">Represent.xyz, Inc. (“Represent.xyz Co.,” “we,” or “us”) operates the Represent.xyz application. By using Represent.xyz in any way, you accept these Terms of Service (“Agreement”). If you do not wish to be bound by this Agreement, do not use Represent.xyz.</p>
<p><b>Contents</b></p>
<ol>
<li>Who May Use Represent.xyz</li>
<li>License to Use Represent.xyz</li>
<li>Privacy</li>
<li>Registration</li>
<li>Term and Termination; Account Deletion</li>
<li>Disclaimers; Limitation of Liability</li>
<li>Code of Conduct; Prohibited Activities</li>
<li>Content Restrictions</li>
<li>Licenses Granted by You</li>
<li>Your Representations and Warranties</li>
<li>Indemnification</li>
<li>General Provisions</li>
</ol>
<ol>
<li><b>Who May Use Represent.xyz </b> You must be at least 13 years old to use Represent.xyz. Use is void where prohibited. By using Represent.xyz, you represent and warrant that you have the right, authority and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement. </li>
<li><b>License to Use Represent.xyz </b> Represent.xyz, Co. grants you a limited, non-exclusive license to access and use Represent.xyz for your own personal, non-commercial purposes. This license is personal to you and may not be assigned or sublicensed to anyone else. Except as expressly permitted by Represent.xyz Co in writing, you will not reproduce, redistribute, sell, create derivative works from, decompile, reverse engineer, or disassemble Represent.xyz. Nor will you take any measures to interfere with or damage Represent.xyz. All rights not expressly granted by Represent.xyz, Co. are reserved. </li>
<li><b>Privacy</b> Your privacy rights are set forth in our Privacy Policy (<a href="/privacy">Privacy Policy</a>), which forms a part of this Agreement. Please review the Privacy Policy to learn about:
<ul>
<li>What information we may collect about you</li>
<li>What we use that information for</li>
<li>With whom we share that information</li>
</ul>
</li>
<li><b>Registration</b> To use Represent.xyz, you must either register an account with Facebook and use our Facebook login, meaning you are authorizing us to access certain information in your Facebook account, including your name and the email address you have shared with facebook, or you can elect to signup and login using any other email address and your name.</li>
<li><b>Term and Termination; Account Deletion </b> This Agreement begins on the date you first use Represent.xyz and continues until terminated in accordance with the provisions hereof. Represent.xyz, Co. may suspend, disable, or delete your account (or any part thereof) if Represent.xyz, Co. determines that you have violated any provision of this Agreement or that your conduct or content would tend to damage Represent.xyz, Co.’s reputation or goodwill. If Represent.xyz, Co. deletes your account for the foregoing reasons, you may not re-register under a different name. Upon termination, all licenses granted by Represent.xyz, Co. will terminate. In the event of account deletion for any reason, content that you submitted may no longer be available. Represent.xyz, Co. shall not be responsible for the loss of such content.</li>
<li><b>Disclaimers; Limitation of Liability</b><ul><li><b>YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER Represent.xyz USERS. YOU UNDERSTAND THAT Represent.xyz, CO. CURRENTLY DOES NOT CONDUCT CRIMINAL BACKGROUND CHECKS ON ITS USERS. Represent.xyz, CO. ALSO DOES NOT INQUIRE INTO THE BACKGROUNDS OF ALL OF ITS USERS OR ATTEMPT TO VERIFY THE STATEMENTS OF ITS USERS. Represent.xyz, CO. MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE USER. Represent.xyz, CO. RESERVES THE RIGHT TO CONDUCT ANY CRIMINAL BACKGROUND CHECK OR OTHER SCREENINGS (SUCH AS SEX OFFENDER REGISTER SEARCHES), AT ANY TIME AND USING AVAILABLE PUBLIC RECORDS.</b></li><li><b>IN NO EVENT SHALL Represent.xyz, CO. BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, EXEMPLARY COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SERVICE, INCLUDING WITHOUT LIMITATION, BODILY INJURY, DEATH, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES RESULTING FROM COMMUNICATIONS OR MEETINGS WITH OTHER USERS OF THE Represent.xyz SERVICE OR PERSONS YOU MEET THROUGH Represent.xyz. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL INTERACTIONS WITH OTHER USERS OF THE SERVICE, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON.</b></li><li>Represent.xyz, Co. reserves the right to modify Represent.xyz. You are responsible for providing your own access to Represent.xyz. Represent.xyz, Co. has no obligation to screen or monitor any content and does not guarantee that any content available on Represent.xyz complies with this Agreement or is suitable for all users.</li>
<li>Represent.xyz, Co. provides Represent.xyz on an “as is” and “as available” basis. You therefore use Represent.xyz at your own risk. Represent.xyz, Co. expressly disclaims any and all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose, non-infringement, and any other warranty that might arise under any law. Without limiting the foregoing, Represent.xyz, Co. makes no representations or warranties:</li><ul><li>That Represent.xyz will be permitted in your jurisdiction;</li>
<li>That Represent.xyz will be uninterrupted or error-free;</li>
<li>Concerning any content submitted by any user;</li>
<li>Concerning any third party’s use of content that you submit;</li>
<li>That any content you submit will be made available on Represent.xyz or will be stored by Represent.xyz, Co.;</li>
<li>That Represent.xyz, Co. will continue to support any particular feature of Represent.xyz;</li>
<li>Concerning sites and resources outside of Represent.xyz, even if linked to from Represent.xyz.</li></ul><li>To the extent any disclaimer or limitation of liability does not apply, all applicable express, implied, and statutory warranties will be limited in duration to a period of thirty (30) days after the date on which you first used Represent.xyz, and no warranties shall apply after such period. </li></ul></li>
<li><b>Code of Conduct; Prohibited Activities</b> In using Represent.xyz, you must behave in a civil and respectful manner at all times. Further, you will not:
<ul>
<li>Harass or stalk any other person;</li>
<li>Harm or exploit minors;</li>
<li>Act in a deceptive manner by, among other things, impersonating any person;</li>
<li>Collect information about others;</li>
<li>You will not express or imply that any statements you make are endorsed by Represent.xyz, Co. without our specific prior written consent.</li>
<li>You will not distribute spam, and will not use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, “data mine”, or in any way reproduce or circumvent the navigational structure or presentation of the Service or its contents.</li>
<li>You will not post, distribute or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior consent of the owner of such proprietary rights.</li>
<li>You will not interfere with or disrupt the services or the site or the servers or networks connected to the services or the site.</li>
<li>You will not post, email or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment.</li>
</ul>
</li></li>
<li><b>Content Restrictions </b> You are solely responsible for the content that you publish or display (hereinafter, “post”) on the Service, or transmit to other Members. You will not post on the service, or transmit to other users, any defamatory, inaccurate, abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, racially offensive, or ill material, or any material that infringes or violates another party's rights (including, but not limited to, intellectual property rights, and rights of privacy and publicity). You will not provide inaccurate, misleading or false information to Represent.xyz, Co. or to any other user. If information provided to Represent.xyz, Co., or another user, subsequently becomes inaccurate, misleading or false, you will promptly notify us of such change. The following is a partial list of content you may not upload, post, or transmit (collectively, “submit”):<ul><li>is patently offensive to the online community, such as content that promotes racism, bigotry, hatred or physical harm of any kind against any sphere or individual;</li>
<li>harasses or advocates harassment of another person;</li>
<li>promotes information that is false, misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;</li>
<li>provides material that exploits people under the age of 18 in a sexual or violent manner, or solicits personal information from anyone under the age of 18;</li>
<li>contains sexually explicit content;</li>
<li>provides instructional information about illegal activities such as making or buying illegal weapons, violating someone's privacy, or providing or creating computer viruses;</li>
<li>involves the transmission of “junk mail”, “chain letters,” or unsolicited mass mailing or “spamming”;</li>
<li>promotes an illegal or unauthorized copy of another person's copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated images, audio or video, or links to pirated images, audio or video files;</li>
<li>solicits passwords or personal identifying information for commercial or unlawful purposes from other users;</li>
<li>engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes;</li>
<li>infringes any third party’s copyrights or other rights (e.g., trademark, privacy rights, etc.);</li>
<li>Your use of the Service, including but not limited to the content you post on the service, must be in accordance with any and all applicable laws and regulations.</li>
</ul></li>
<li><b>Licenses Granted By You</b> Represent.xyz, Co. has the right, but not the obligation, to monitor all conduct on and content submitted to Represent.xyz.</li>
<li><b>Your Representations and Warranties </b> For each piece of content that you submit, you represent and warrant that: (i) you have the right to submit the content to Represent.xyz, Co. and grant the licenses set forth above; (ii) Represent.xyz, Co. will not need to obtain licenses from any third party or pay royalties to any third party; (iii) the content does not infringe any third party’s rights, including intellectual property rights and privacy rights; and (iv) the content complies with this Agreement and all applicable laws.</li>
<li><b>Indemnification</b> You will indemnify, defend, and hold harmless Represent.xyz, Co. and its affiliates, directors, officers, employees, and agents, from and against all third party actions that: (i) arise from your activities on Represent.xyz; (ii) assert a violation by you of any term of this Agreement; or (iii) assert that any content you submitted to Represent.xyz violates any law or infringes any third party right, including any intellectual property or privacy right.</li>
<li><b>General Provisions GOVERNING LAW:</b> This Agreement shall be governed by the laws of the State of New York, United States of America, without regard to principles of conflicts of law. The Uniform Commercial Code, the Uniform Computer Information Transaction Act, and the United Nations Convention of Controls for International Sale of Goods shall not apply. DISPUTES: Any action arising out of or relating to this Agreement or your use of Represent.xyz must be commenced in the state or federal courts located in New York County, New York, United States of America (and you consent to the jurisdiction of those courts). INTERPRETATION; SEVERABILITY; WAIVER; REMEDIES: Headings are for convenience only and shall not be used to construe the terms of this Agreement. If any term of this Agreement is found invalid or unenforceable by any court of competent jurisdiction, that term will be severed from this Agreement. No failure or delay by Represent.xyz, Co. in exercising any right hereunder will waive any further exercise of that right. Represent.xyz, Co.’s rights and remedies hereunder are cumulative and not exclusive. SUCCESSORS; ASSIGNMENT; NO THIRD PARTY BENEFICIARIES: This Agreement is binding upon and shall inure to the benefit of both parties and their respective successors, heirs, executors, administrators, personal representatives, and permitted assigns. You may not assign this Agreement without Represent.xyz, Co.’s prior written consent. No third party shall have any rights hereunder. NOTICES: You consent to receive all communications including notices, agreements, disclosures, or other information from Represent.xyz, Co. electronically. Represent.xyz, Co. may provide all such communications by email or by posting them on Represent.xyz. Support-related inquiries or notices of a legal nature (such as a subpoena) may be sent to us at info@Represent.xyz</li>
</ol>
<h2>END OF DOCUMENT.</h2>
</div>
</body>
</html>