<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <h1>Welcome to PopRuler <%= username %></h1>
    <p><%= message %></p>
    <a href="/profile">Continue to your Dashboard</a>
  </body>
</html>
