<!DOCTYPE html>
<html lang="en">
  <head>
  	<!-- Meta-->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
      <meta name="description" content="Represent.xyz Privacy Policy">
      <meta name="keywords" content="vote, election, group, sphere, nominate, decide">
      <meta name="author" content="William Buckley Mower">
      <!-- Desktop Browsers -->
      <link rel="shortcut icon" type="image/x-icon" href="assets/icons/favicon.ico" />
      
      <!-- Android: Chrome M39 and up-->
      <link rel="manifest" href="assets/icons/manifest.json">
      <!-- Android: Chrome M31 and up, ignored if manifest is present-->
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="icon" sizes="192x192" href="assets/icons/icon-192x192.png">
      <!-- iOS -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-title" content="Represent.xyz">
      
      <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon-180x180-precomposed.png">
      <link href="assets/icons/apple-touch-icon-152x152-precomposed.png" sizes="152x152" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-144x144-precomposed.png" sizes="144x144" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-120x120-precomposed.png" sizes="120x120" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-76x76-precomposed.png" sizes="76x76" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-60x60-precomposed.png" sizes="60x60" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-57x57-precomposed.png" sizes="57x57" rel="apple-touch-icon">
      <link href="assets/icons/apple-touch-icon-precomposed.png" rel="apple-touch-icon">
      
      <!-- Windows 8 and IE 11 -->
      <meta name="msapplication-config" content="assets/icons/browserconfig.xml" />
      
      <!-- Windows -->
      <meta name="application-name" content="Represent.xyz" />
      <meta name="msapplication-tooltip" content="Let's Make Decisions Together!" />
      <meta name="msapplication-window" content="width=1024;height=768" />
      <meta name="msapplication-navbutton-color" content="#007EFF" />
      <meta name="msapplication-starturl" content="./" />
   <!-- Title -->
      <title>Represent.xyz | Let's Make Decisions Together</title>
   <!-- CSS -->
      <link rel="stylesheet" href="admin/app/css/bootstrap.css">
  </head>
<body>
	<header id="navigation" style="margin-bottom: 0; border-bottom: solid 10px #333;"><!-- Start navigation -->
		<div class="navbar navbar-default" role="navigation">
			<div class="container" style="margin-bottom: 0;">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Represent.xyz</a>
				</div>
			</div>
		</div>
	</header><!-- End navigation -->
<div class="container" style="margin-top: 50px; background-color: #fff;">
<h1>Represent.xyz Privacy Policy</h1>
<p style="text-align:justify">This Privacy Policy explains the information that Represent.xyz (“Represent.xyz,” “we,” or “us”) collect about users of the Represent.xyz application (“Represent.xyz”), how we use that information, and with whom we share it. If we make any material changes to our privacy practices, we will post a revised Privacy Policy on this page. If you have any questions, please contact us by sending an email to info@Represent.xyz.</p>
<ol>
<li><b>Information we collect: </b> When you use Represent.xyz, we automatically collect and store some information about you. This information includes:
<ul>
<li>App Scoped Facebook ID if you sign in with facebook</li>
<li>Your Full Name</li>
<li>Your Email Address</li>
<li>Information related to any Nomination Page you might choose to create</li>
<li>Information about your votes</li>
</ul>
</li>
<li><b>How we use your information: </b> We use your information to provide you with the ability to host elections and participate in elections.</li>
</ol>
<p style="text-align:justify"><b>Information from users outside the United States </b> If you’re outside the United States, your information will be sent to and stored in the United States, where our servers are located. By using Represent.xyz, you agree to the information collection, use, and sharing practices described in this Privacy Policy.</p>
</div>
</body>
</html>